

.App {
  text-align: center;
  margin-top: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
  width: 70px;
  height: 50px;
  border-radius: 50%;
}
.cart1{
  font-size: 1.5em;
  color: rgb(198, 219, 177);
  margin-right: 10px;
  margin-top: 7px;
}
.cart{
  color: rgb(106, 106, 148);
  font-size: 2em;
}
.card-body li{
  list-style: none;
}
.card-body li a{
  text-decoration: none;
}
.carousel-item{
  height: 400px;
}
.nameShop{
  animation: phongto 3s infinite;
  color: aqua;
  margin-right: 400px;
  margin-top: 10px;
  font-weight: bold;
}
@keyframes phongto
{
    from{
      transform: scale(1);
    }
    to{
      transform: scale(2);
    }
}
@keyframes changeColor
{
    0%{
      color: black;
      background-color: rgb(152, 177, 155);
    }
    50%{
      color: blue;
      background-color: rgb(70, 101, 107);
    }
    100%{
      color: black;
      background-color: rgb(152, 177, 155);
    }
}
.card-header{
  animation:changeColor 5s infinite ;
}
.fa-home{
  color: white;
  font-size: 2em;
}
.fa-home:hover{
  font-size: 3em;
}
.card-title a{
  color: black;
  text-decoration: none;
}
.card-img-top{
  height: 200px;
  border: 1px solid fill;
  padding: 5px;
  background-color: rgb(224, 215, 215);
}
.card-img-top:hover
{
  height: 250px;
  width: 250px;
}
.rounded{
  height: 300px;
  width: 300px;
}
.imgSearch{
  width: 50px;
  height: 50px;
}
.imgSearch:hover{
  width: 70px;
  height: 70px;
}
.addproduct{
  font-size: 2em;
  color: blue;
}
.card-body.add{
  background-color: rgb(97, 95, 95);
}
.card-body.add a{
  text-decoration: none;
}
.card-body.add a:hover{
  color: white;
}
.admin{
  background-color: darkkhaki;
}
.admin a{
  text-decoration: none;
}
.admin a:hover{
  color: white;
}
.display-3
{
  font-weight: bold;
  font-size: 3em;
  background-color: cornflowerblue;
  margin-top:20px;
}
.footer-below{
  font-size: 2em;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(177, 211, 212);
}
.info p{
  font-size: 0.5em;
  font-weight: normal;
}
.facebook{
  font-size: 0.5em;
}
.card-pay img{
  width: 50px;
  margin-left: 10px;
  height: 50px;
}
.img-cart{
  width: 70px;
  height: 100px;
}
#map iframe{
  width: 350px;
}
.row{
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.cartfix{
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 3em;
  color: black;
}



